Abacate {
    Caiena (Hawai)
    Pérola
    Terra de Areia
}
Abóbora
Abobrinha {
    Italiana
    Tronco
}
Acerola
Agrião
Aipo
Alcachofra
Alecrim
Alface {
    Americana
}
Alho {
    Importado
    Macho
    Nacional
    Poró
}
Almeirao/Radite
Ameixa {
    Importada
}
Amendoim {
    C/ Casca,
    S/ Casca
}
Amora {
    Preta
}
Banana {
    Caturra/Nanica,
    Maçã,
    Prata/Branca
}
Batata {
    Doce
    Inglesa
}
Berinjela
Beterraba
Brócolis
Brotos
Caqui{
    Chocolate
    Fuyu
    Mole
}
Cará
Carambola
Cebola{
    Importada
    Nacional
    Roxa
}
Cenoura {
    Baby,
}
Cheiro Verde/Tempero
Chichória/Escarola
Chuchu
Coco {
    Seco
    Verde
}
Cravo
Erva Doce/Funcho
Ervilha
Espinafre
Feijão
Figo {
    Maduro
    Verde
}
Goiaba
Graviola
Inhame
Jabuticaba
Java
Jiló
Kiwi {
    Importado
    Nacional
}
Laranja {
    Umbigo/Baia
    Importada
    Lima
    Suco
}
Lima
Limão {
    Taiti
    Importado
}