Abacate
Abacaxi {
    Caiena (Hawai)
    Pérola
}
Abóbora
Abobrinha {
    Italiana
    Tronco
}
Acelga
Acerola
Agrião
Aipim
Aipo Salsão
Alcachofra
Alecrim
Alface {
    Americana
    Crespa
    Crespa Roxa
    Lisa
    Mimosa Roxa
    Mimosa Verde
}
Alho {
    Importado
    Macho
    Nacional
    Poró
}
Almeirao/Radite
Ameixa
Amendoim {
    C/ Casca
    S/ Casca
}
Amora
Banana {
    Caturra/Nanica
    Maçã
    Prata/Branca
}
Batata {
    Doce
    Inglesa
    Rosa
}
Berinjela
Bergamota {
    Caí
    Ponkan
    Montenegrina
    Morgote
    Japonesa
}
Beterraba
Brócolis
Brotos
Caqui {
    Preto
    Branco
}
Cará
Carambola
Cebola {
    Comum
    Roxa
}
Cenoura {
    Baby
    Molho
}
Chichória
Chuchu
Coco {
    Seco
    Verde
}
Couve Chinesa
Couve Flor
Couve Folha {
    Manteiga
    Verde
}
Cravo
Erva Doce/Funcho
Erva Aromática
Ervilha
Espinafre
Fava
Feijão
Figo {
    Maduro
    Verde
}
Gengibre
Goiaba
Graviola
Inhame
Jabuticaba
Jaca
Jiló
Kiwi {
    Importado
    Nacional
}
Laranja {
    Umbigo
    Importada
    Céu
    Suco
    Cidra
}
Lima
Limão {
    Taiti
    Importado
}
Louro
Maçã {
    Fuji
    Gala
    Golden
    Granny Smith
    Red Delicious
}
Mamão {
    Papaia
    Formosa
}
Manga
Manjericão
Manjerona
Maracujá {
    Azedo
    Doce
}
Maxixe
Mel
Melancia
Melão {
    Gaúcho
    Espanhol
    Cantaloupe
    Oranje
    Pele de Sapo
}
Milho {
    Pipoca
    Ração
    Verde
}
Mirtilo
Moranga {
    Amarela
    Cabotiá/Preta
}
Morango
Mosquitinho
Mostarda
Nabo
Nectarina
Nespera
Ovo {
    Branco
    Vermelho
    Codorna
}
Pepino {
    Conserva
    Japonês
    Salada
}
Pera {
    Asiática
    Danjou
    Nacional
    Vermelha
    Williams
}
Pessego
Pimenta
Pimentão {
    Amarelo
    Verde
    Vermelho
    Capeletti
}
Pinha
Pinhão
Pitaia
Quiabo
Rabanete
Repolho {
    Verde
    Roxo
}
Romã
Rúcula
Sálvia
Tempero
Tomate {
    Gaúcho
    Longa Vida
    Cereja
    Italiano
}
Uva {
    Branca
    Preta
    Rosa
}
Vagem
Yacon